In [1]:
import pandas as pd
import numpy as np

# Data Source 1: OECD

In [2]:
oecd_data=pd.read_csv('/Users/mikel/Documents/Projects/chameleon-pricing/oecd_data.csv')

In [3]:
oecd_data.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value  Flag Codes
0      AUS       PPP     TOT  NATUSD         A  1960  0.700946         NaN
1      AUS       PPP     TOT  NATUSD         A  1961  0.701324         NaN
2      AUS       PPP     TOT  NATUSD         A  1962  0.687990         NaN
3      AUS       PPP     TOT  NATUSD         A  1963  0.698321         NaN
4      AUS       PPP     TOT  NATUSD         A  1964  0.708346         NaN

In [4]:
oecd_data.shape

(2705, 8)

In [5]:
nan_cols=oecd_data.isna().sum()

nan_cols[nan_cols>0]

Flag Codes    2705
dtype: int64

In [6]:
oecd_data=oecd_data.dropna(axis=1)
oecd_data=oecd_data.drop(columns=['SUBJECT', 'MEASURE', 'FREQUENCY', 'INDICATOR'])

In [7]:
oecd_data.head()

  LOCATION  TIME     Value
0      AUS  1960  0.700946
1      AUS  1961  0.701324
2      AUS  1962  0.687990
3      AUS  1963  0.698321
4      AUS  1964  0.708346

In [8]:
oecd_data.groupby('LOCATION')

# Data Source 2: The World Bank

In [9]:
twb_data = pd.read_csv('/Users/mikel/Documents/Projects/chameleon-pricing/twb_data.csv', sep=",", skiprows=3)

In [10]:
twb_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"PPP conversion factor, GDP (LCU per internatio...",PA.NUS.PPP,NaN,NaN,NaN,NaN,NaN,NaN,...,1.317801,1.285141,1.308843,1.362318,1.355045,1.350690,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"PPP conversion factor, GDP (LCU per internatio...",PA.NUS.PPP,NaN,NaN,NaN,NaN,NaN,NaN,...,17.242264,17.509419,17.035878,17.022520,17.445828,17.205558,17.144309,17.914483,NaN,NaN
2,Angola,AGO,"PPP conversion factor, GDP (LCU per internatio...",PA.NUS.PPP,NaN,NaN,NaN,NaN,NaN,NaN,...,65.681671,66.019371,65.000671,68.182045,80.778969,92.951721,117.116076,146.167168,NaN,NaN
3,Albania,ALB,"PPP conversion factor, GDP (LCU per internatio...",PA.NUS.PPP,NaN,NaN,NaN,NaN,NaN,NaN,...,43.655000,44.113709,42.893807,42.705831,42.385879,42.255535,42.125796,41.342391,NaN,NaN
4,Andorra,AND,"PPP conversion factor, GDP (LCU per internatio...",PA.NUS.PPP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
twb_data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

In [12]:
nan_cols=twb_data.isna().sum()

nan_cols[nan_cols>0]

1960           264
1961           264
1962           264
1963           264
1964           264
              ...
2017            68
2018            72
2019            78
2020           226
Unnamed: 65    264
Length: 62, dtype: int64

In [13]:
twb_data.shape

(264, 66)

In [14]:
twb_data=twb_data.drop(columns=['Unnamed: 65', 'Indicator Name', 'Indicator Code'])

In [15]:
twb_data=twb_data.dropna(axis=1,how='all')

In [16]:
twb_data.head()

,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,9.451314e-01,9.655218e-01,9.798110e-01,1.007829,1.048954,1.062042,1.077156,1.098135,...,1.302941,1.317801,1.285141,1.308843,1.362318,1.355045,1.350690,NaN,NaN,NaN
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.613478,17.242264,17.509419,17.035878,17.022520,17.445828,17.205558,17.144309,17.914483,NaN
2,Angola,AGO,1.058393e-08,2.112144e-08,1.190553e-07,0.000001,0.000026,0.000497,0.023940,0.045998,...,64.605751,65.681671,66.019371,65.000671,68.182045,80.778969,92.951721,117.116076,146.167168,NaN
3,Albania,ALB,2.338549e+00,3.065402e+00,9.979887e+00,21.998489,29.258513,31.477205,35.424557,38.738167,...,43.857834,43.655000,44.113709,42.893807,42.705831,42.385879,42.255535,42.125796,41.342391,NaN
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data Source 3: Exportator

In [17]:
exportator_data=pd.read_html('https://www.exportator.com/purchasing-power-parity-pricing-calculator')

In [18]:
exportator_data=exportator_data[0]

In [19]:
exportator_data.head()

                Country  PPP Index Parity Pricing Discount Price (USD)
0            Albania ðŸ‡¦ðŸ‡±      43.36                    -59%          $0
1            Algeria ðŸ‡©ðŸ‡¿      32.60                    -76%          $0
2  Antigua & Barbuda ðŸ‡¦ðŸ‡¬       1.70                    -37%          $0
3            Andorra ðŸ‡¦ðŸ‡©       0.00             No discount          $0
4          Argentina ðŸ‡¦ðŸ‡·      26.53                    -71%          $0

# Data evaluation

Vemos que claramente los datos de The World Bank son mÃ¡s completos en cuanto a paÃ­ses, sobretodo pensando en que vamos a hacer un proyecto centrado en empresas que quieran vender en LATAM.

In [20]:
oecd_data.LOCATION.unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE',
       'TUR', 'GBR', 'USA', 'BRA', 'CHL', 'CHN', 'COL', 'EST', 'IND',
       'IDN', 'ISR', 'RUS', 'SVN', 'ZAF', 'DEW', 'LVA', 'LTU', 'SAU',
       'EA19', 'ARG', 'CRI', 'BGR', 'HRV', 'CYP', 'MLT', 'PER', 'ROU',
       'MKD', 'ZMB', 'HKG', 'MDG', 'MAR', 'SGP', 'EU27_2020'],
      dtype=object)

In [21]:
twb_data['Country Code'].unique()

array(['ABW', 'AFG', 'AGO', 'ALB', 'AND', 'ARB', 'ARE', 'ARG', 'ARM',
       'ASM', 'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA',
       'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL',
       'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CEB', 'CHE',
       'CHI', 'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG', 'COL', 'COM',
       'CPV', 'CRI', 'CSS', 'CUB', 'CUW', 'CYM', 'CYP', 'CZE', 'DEU',
       'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'EAP', 'EAR', 'EAS', 'ECA',
       'ECS', 'ECU', 'EGY', 'EMU', 'ERI', 'ESP', 'EST', 'ETH', 'EUU',
       'FCS', 'FIN', 'FJI', 'FRA', 'FRO', 'FSM', 'GAB', 'GBR', 'GEO',
       'GHA', 'GIB', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GRL',
       'GTM', 'GUM', 'GUY', 'HIC', 'HKG', 'HND', 'HPC', 'HRV', 'HTI',
       'HUN', 'IBD', 'IBT', 'IDA', 'IDB', 'IDN', 'IDX', 'IMN', 'IND',
       'INX', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM', 'JOR',
       'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA', 'KOR', 'KWT',
       'LAC', 'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LCN', 'LDC', 'LIC',
       'LIE', 'LKA', 'LMC', 'LMY', 'LSO', 'LTE', 'LTU', 'LUX', 'LVA',
       'MAC', 'MAF', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEA', 'MEX',
       'MHL', 'MIC', 'MKD', 'MLI', 'MLT', 'MMR', 'MNA', 'MNE', 'MNG',
       'MNP', 'MOZ', 'MRT', 'MUS', 'MWI', 'MYS', 'NAC', 'NAM', 'NCL',
       'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NRU', 'NZL', 'OED',
       'OMN', 'OSS', 'PAK', 'PAN', 'PER', 'PHL', 'PLW', 'PNG', 'POL',
       'PRE', 'PRI', 'PRK', 'PRT', 'PRY', 'PSE', 'PSS', 'PST', 'PYF',
       'QAT', 'ROU', 'RUS', 'RWA', 'SAS', 'SAU', 'SDN', 'SEN', 'SGP',
       'SLB', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSA', 'SSD', 'SSF',
       'SST', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SXM', 'SYC',
       'SYR', 'TCA', 'TCD', 'TEA', 'TEC', 'TGO', 'THA', 'TJK', 'TKM',
       'TLA', 'TLS', 'TMN', 'TON', 'TSA', 'TSS', 'TTO', 'TUN', 'TUR',
       'TUV', 'TZA', 'UGA', 'UKR', 'UMC', 'URY', 'USA', 'UZB', 'VCT',
       'VEN', 'VGB', 'VIR', 'VNM', 'VUT', 'WLD', 'WSM', 'XKX', 'YEM',
       'ZAF', 'ZMB', 'ZWE'], dtype=object)

In [22]:
twb_data[twb_data['Country Name'] == 'Argentina']

,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
7,Argentina,ARG,0.293643,0.683117,0.77524,0.730329,0.735435,0.74313,0.729385,0.713695,...,2.733128,3.218154,3.940967,5.451964,6.866548,9.294966,10.256822,14.019288,20.713958,NaN

In [23]:
from forex_python.converter import CurrencyCodes

c = CurrencyCodes()

c.get_currency_name('COP')

'Colombian peso'

In [24]:
#from forex_python.converter import CurrencyRates
#c = CurrencyRates()
#c.get_rate('USD', 'COP')

In [25]:
twb_data.head()

,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,9.451314e-01,9.655218e-01,9.798110e-01,1.007829,1.048954,1.062042,1.077156,1.098135,...,1.302941,1.317801,1.285141,1.308843,1.362318,1.355045,1.350690,NaN,NaN,NaN
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.613478,17.242264,17.509419,17.035878,17.022520,17.445828,17.205558,17.144309,17.914483,NaN
2,Angola,AGO,1.058393e-08,2.112144e-08,1.190553e-07,0.000001,0.000026,0.000497,0.023940,0.045998,...,64.605751,65.681671,66.019371,65.000671,68.182045,80.778969,92.951721,117.116076,146.167168,NaN
3,Albania,ALB,2.338549e+00,3.065402e+00,9.979887e+00,21.998489,29.258513,31.477205,35.424557,38.738167,...,43.857834,43.655000,44.113709,42.893807,42.705831,42.385879,42.255535,42.125796,41.342391,NaN
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Get last PPP

In [26]:
twb_data['last_value'] = twb_data.ffill(axis=1).iloc[:, -1] 
twb_data

,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,last_value
0,Aruba,ABW,9.451314e-01,9.655218e-01,9.798110e-01,1.007829,1.048954,1.062042,1.077156,1.098135,...,1.317801,1.285141,1.308843,1.362318,1.355045,1.350690,NaN,NaN,NaN,1.35069
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.242264,17.509419,17.035878,17.022520,17.445828,17.205558,17.144309,17.914483,NaN,17.9145
2,Angola,AGO,1.058393e-08,2.112144e-08,1.190553e-07,0.000001,0.000026,0.000497,0.023940,0.045998,...,65.681671,66.019371,65.000671,68.182045,80.778969,92.951721,117.116076,146.167168,NaN,146.167
3,Albania,ALB,2.338549e+00,3.065402e+00,9.979887e+00,21.998489,29.258513,31.477205,35.424557,38.738167,...,43.655000,44.113709,42.893807,42.705831,42.385879,42.255535,42.125796,41.342391,NaN,41.3424
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.330216,0.332721,0.339622,0.339128,0.339378,0.340077,0.335354,0.332390,NaN,0.33239
260,"Yemen, Rep.",YEM,6.107839e+00,6.616785e+00,7.321481e+00,8.323239,9.842986,14.050874,18.871843,21.016099,...,88.792992,93.631317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.6313
261,South Africa,ZAF,1.265262e+00,1.415433e+00,1.585498e+00,1.749861,1.877083,2.026311,2.147189,2.279385,...,5.107817,5.295738,5.571891,5.825256,6.159093,6.426701,6.519588,6.652566,NaN,6.65257
262,Zambia,ZMB,9.556399e-03,1.780860e-02,4.623424e-02,0.110046,0.194742,0.249130,0.304221,0.375034,...,2.651491,2.832861,3.064822,3.366482,3.878827,4.192580,4.396237,4.641657,NaN,4.64166
263,Zimbabwe,ZWE,7.439981e-01,6.708873e-01,5.632571e-01,0.529361,0.498103,0.502697,0.538010,0.513663,...,0.549246,0.558424,0.549252,0.539304,0.521862,0.511243,0.525139,0.494348,NaN,0.494348

In [27]:
twb_data['last_value'].unique()

array([1.3506896495819098, 17.9144826699909, 146.167167826781,
       41.3423914138531, 'AND', 'ARB', 2.25850307596397, 20.7139578408443,
       155.770479651178, 'ASM', 2.0194532091955804, 1.461587, 0.759962,
       0.541783029023867, 614.273901861231, 0.754025, 208.14828767688,
       202.684664333737, 31.412871920592398, 0.6985512891981379,
       0.188021618496962, 0.8998825817787379, 0.674721776333022,
       0.69701659405586, 1.31658399660205, 1.3707859561201499,
       2.6941051256579702, 2.24738365412163, 2.2225668662355496,
       0.6539719595070339, 18.9001286950754, 4.6155530837535705,
       277.852867490644, 1.1980879999999998, 'CEB', 1.143836, 'CHI',
       420.903055, 4.20011786862713, 245.02546694876702, 232.218111523829,
       834.585389673205, 348.27333337129, 1351.775746, 188.465816580834,
       47.39553801356399, 341.441239, 'CSS', 0.321938711455632,
       1.37871956323787, 0.977497020934353, 0.608703010927457,
       12.843494999999999, 0.744679, 105.00596789612301, 1.75970417134687,
       6.66035, 22.094685573248302, 39.4753858871813, 'EAP', 'EAR', 'EAS',
       'ECA', 'ECS', 0.520580052113819, 4.3160278220274195, 'EMU',
       5.46990434868798, 0.624484, 0.5329, 10.349446059582199, 'EUU',
       'FCS', 0.8545879999999999, 0.933689773974448, 0.740525, 'FRO',
       1.00572605465264, 291.498912218778, 0.716264, 0.8456104377652759,
       2.03273383158187, 'GIB', 3305.07540389528, 16.7751924121275,
       196.665273716979, 245.86016020598598, 0.545546, 1.6401711105594798,
       'GRL', 3.94233344405393, 'GUM', 100.87625350427099, 'HIC',
       6.10781735823891, 10.5504895992806, 'HPC', 3.27215211127603,
       35.2871565136136, 145.659085, 'IBD', 'IBT', 'IDA', 'IDB',
       4743.3374468190505, 'IDX', 'IMN', 21.2755038338788, 'INX',
       0.816018, 22758.129318244, 619.478128523479, 144.108968,
       3.6860150000000003, 0.669014, 73.0058892307643,
       0.29741150862059695, 103.412076, 136.483499986547,
       40.97544493910021, 16.6585871314052, 1456.0193830618698,
       1.00353202407101, 1.9495859191570202, 869.063949,
       0.18661905090203895, 'LAC', 2788.15275542532, 775.5610925021471,
       0.417096855708647, 0.67805244642179, 1.94334342660997, 'LCN',
       'LDC', 'LIC', 'LIE', 50.4303490949173, 'LMC', 'LMY',
       5.721841552964469, 'LTE', 0.450245, 0.864174, 0.49193400000000004,
       5.24290759619816, 'MAF', 3.94702364488783, 'MCO', 5.80830309114802,
       1101.0378184776598, 8.01436960654148, 'MEA', 9.505202,
       0.951004763637921, 'MIC', 18.8190689833502, 212.437827427381,
       0.576590257302322, 401.70661261684097, 'MNA', 0.340944046315761,
       898.732633630829, 'MNP', 23.547195091985003, 11.354249982659303,
       16.4861845606784, 277.412807983172, 1.59634880561452, 'NAC',
       7.11743151547225, 'NCL', 253.799695383855, 135.136439097495,
       11.221066511064, 0.794891, 9.30294, 33.8845949857364,
       1.08627842398814, 1.4591100000000001, 'OED', 0.20694246294653199,
       'OSS', 35.797677035867295, 0.478862212445632, 1.7356817450586701,
       19.404986883789, 0.8117700376963991, 2.10746125115928, 1.811159,
       'PRE', 0.9120161908821541, 'PRK', 0.574206, 2551.04021521804,
       0.560550602122651, 'PSS', 'PST', 'PYF', 2.40352989003426,
       1.6911969158646298, 24.247943, 317.182454956289, 'SAS',
       1.7694461283959197, 10.5008468567533, 239.12275993346,
       0.875475197620001, 6.97704964624406, 2649.0305251514,
       0.456906578505361, 0.681416995287087, 8229.531085861441,
       41.207997797046204, 'SSA', 3.2682952304697204, 'SSF', 'SST',
       10.354404668418699, 2.74870090935574, 0.53323, 0.568426, 8.902761,
       6.250788234535941, 1.4417735192505903, 8.02381920700948, 'SYR',
       1.0263656903801, 252.02796029243402, 'TEA', 'TEC', 238.71139332045,
       12.573632462529199, 2.3514373614881, 1.60342506581128, 'TLA',
       0.420643991821992, 'TMN', 1.67115075806166, 'TSA', 'TSS',
       4.2990560207373, 0.8667296682716191, 2.113114, 1.3059942981698,
       929.1896626511231, 1299.45978146478, 7.069492950726779, 'UMC',
       25.3512988749765, 1.0, 2085.54845778662, 1.5443908709807899,
       2.68098258972168, 1.06877851486206, 'VIR', 7453.56818882062,
       108.104856329907, 'WLD', 1.6626736819832701, 0.33238983875922495,
       93.63131713867192, 6.65256591249346, 4.6416574341166505,
       0.494348267213925], dtype=object)

In [28]:
twb_data=twb_data[pd.to_numeric(twb_data['last_value'], errors='coerce').notnull()]

In [29]:
twb_data.head()

,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,last_value
0,Aruba,ABW,9.451314e-01,9.655218e-01,9.798110e-01,1.007829,1.048954,1.062042,1.077156,1.098135,...,1.317801,1.285141,1.308843,1.362318,1.355045,1.350690,NaN,NaN,NaN,1.35069
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.242264,17.509419,17.035878,17.022520,17.445828,17.205558,17.144309,17.914483,NaN,17.9145
2,Angola,AGO,1.058393e-08,2.112144e-08,1.190553e-07,0.000001,0.000026,0.000497,0.023940,0.045998,...,65.681671,66.019371,65.000671,68.182045,80.778969,92.951721,117.116076,146.167168,NaN,146.167
3,Albania,ALB,2.338549e+00,3.065402e+00,9.979887e+00,21.998489,29.258513,31.477205,35.424557,38.738167,...,43.655000,44.113709,42.893807,42.705831,42.385879,42.255535,42.125796,41.342391,NaN,41.3424
6,United Arab Emirates,ARE,1.167017e+00,1.137996e+00,1.132743e+00,1.120668,1.094358,1.113766,1.156881,1.126440,...,2.177725,2.213316,2.182567,2.187785,2.189752,2.221792,2.346952,2.258503,NaN,2.2585

In [30]:
twb_data.last_value[twb_data['Country Name'] == 'Albania']

3    41.3424
Name: last_value, dtype: object

In [31]:
df1=twb_data[['Country Name', 'last_value']]

In [32]:
df1=df1.rename(columns={'Country Name' : 'Country'})

In [33]:
df1.Country.unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania',
       'United Arab Emirates', 'Argentina', 'Armenia',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Cuba', 'Curacao', 'Cayman Islands', 'Cyprus', 'Czech Republic',
       'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic',
       'Algeria', 'Ecuador', 'Egypt, Arab Rep.', 'Eritrea', 'Spain',
       'Estonia', 'Ethiopia', 'Finland', 'Fiji', 'France',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Guatemala', 'Guyana',
       'Hong Kong SAR, China', 'Honduras', 'Croatia', 'Haiti', 'Hungary',
       'Indonesia', 'India', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Sri Lanka', 'Lesotho',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China', 'Morocco',
       'Moldova', 'Madagascar', 'Maldives', 'Mexico', 'Marshall Islands',
       'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro',
       'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi',
       'Malaysia', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau',
       'Papua New Guinea', 'Poland', 'Puerto Rico', 'Portugal',
       'Paraguay', 'West Bank and Gaza', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia', 'South Sudan',
       'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia',
       'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania',
       'Uganda', 'Ukraine', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Vietnam', 'Vanuatu', 'Samoa', 'Kosovo',
       'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [34]:
currency=pd.read_html('https://docs.1010data.com/1010dataReferenceManual/DataTypesAndFormats/currencyUnitCodes.html')

In [35]:
currency=currency[0]

In [36]:
currency

,Entity,Currency,Code,Minor Unit
0,AFGHANISTAN,Afghani,AFN,2
1,Ã…LAND ISLANDS,Euro,EUR,2
2,ALBANIA,Lek,ALL,2
3,ALGERIA,Algerian Dinar,DZD,2
4,AMERICAN SAMOA,US Dollar,USD,2
...,...,...,...,...
273,ZZ07_No_Currency,The codes assigned for transactions where no c...,XXX,N.A.
274,ZZ08_Gold,Gold,XAU,N.A.
275,ZZ09_Palladium,Palladium,XPD,N.A.
276,ZZ10_Platinum,Platinum,XPT,N.A.
277,ZZ11_Silver,Silver,XAG,N.A.

In [37]:
currency['Entity']=currency['Entity'].str.lower()
currency['Entity']=currency['Entity'].str.capitalize()

In [38]:
df1=df1.merge(currency, left_on='Country', right_on='Entity')

In [39]:
df1

         Country last_value       Entity         Currency Code Minor Unit
0          Aruba    1.35069        Aruba    Aruban Florin  AWG          2
1    Afghanistan    17.9145  Afghanistan          Afghani  AFN          2
2         Angola    146.167       Angola           Kwanza  AOA          2
3        Albania    41.3424      Albania              Lek  ALL          2
4      Argentina     20.714    Argentina   Argentine Peso  ARS          2
..           ...        ...          ...              ...  ...        ...
145   Uzbekistan    2085.55   Uzbekistan   Uzbekistan Sum  UZS          2
146      Vanuatu    108.105      Vanuatu             Vatu  VUV          0
147        Samoa    1.66267        Samoa             Tala  WST          2
148       Zambia    4.64166       Zambia   Zambian Kwacha  ZMW          2
149     Zimbabwe   0.494348     Zimbabwe  Zimbabwe Dollar  ZWL          2

[150 rows x 6 columns]

In [48]:
from forex_python.converter import CurrencyRates
c = CurrencyRates()
c.get_rate('USD', 'AOA')

RatesNotAvailableError: Currency Rate USD => AOA not available for Date latest

In [46]:
from exchangeratesapi import Api
api = Api()
print(api.get_rate('USD', 'GBP'))

KeyError: 'rates'